@import '../../general.scss';

.ticket-wrapper {
  background-color: $color-bg-main;
  border-radius: $border-radius-size;
  box-shadow: $shadow;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ticket-body > div {
  width: 33.333333%;
}

.ticket-price {
  font-size: 24px;
  color: $color-font-accent;
}

.ticket-body-title {
  font-size: $font-size-small;
  color: $color-font-light;
  letter-spacing: 0.5px;
  text-transform: $text-upper;
}
