@import '../../general.scss';

.result-list {
  padding: 0;
  margin-top: 20px;
}

.result-list li {
  list-style: none;
}

.btn-more-results {
  width: 100%;
  padding: 15px 20px;
  background-color: $color-bg-active;
  text-transform: $text-upper;
  color: $color-font-btn;
  margin-bottom: 40px;
  font-size: $font-size-small;
  line-height: 20px;
  letter-spacing: 0.5px;
  border-radius: $border-radius-size;
  font-family: $font-family;
  border: none;
  cursor: pointer;
}

.btn-more-results:hover {
  background-color: $color-bg-nonactive;
}

.ant-spin {
  width: 100%;
  text-align: center;
}
