.app-wrapper {
  width: 754px;
  margin: 0 auto;
}

.app-header__logo {
  margin: 50px auto;
  display: block;
}

.app-body {
  display: flex;
  justify-content: space-between;
}

.app-main-content {
  width: 502px;
}

@media screen and (max-width: 450px) {
  .app-wrapper {
    width: 100%;
    max-width: 450px;
  }

  .app-body {
    flex-wrap: wrap;
  }
}
