@import '../../general.scss';

.filter-wrapper {
  width: 232px;
  padding-bottom: 10px;
  background-color: $color-bg-main;
  border-radius: $border-radius-size;
  box-shadow: $shadow;
}

.filter-title {
  margin: 0;
  text-transform: $text-upper;
  font-size: $font-size-small;
  letter-spacing: 0.5px;
  padding: 20px;
  padding-bottom: 10px;
}

label {
  display: block;
  font-size: $font-size-filter;
  padding: 10px 20px;
}

label:hover {
  background-color: $color-bg-hover;
  cursor: pointer;
}

.filter-wrapper label:last-child {
  margin-bottom: 0;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  margin-bottom: -4px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid $color-border-nonactive;
  border-radius: 2px;
  margin-top: 0;
}

input[type='checkbox']::before {
  content: '';
  background-image: url(./checked.svg);
  width: 12px;
  height: 8px;
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 5px;
}

input[type='checkbox']:checked::before {
  display: block;
}

input[type='checkbox']:checked {
  border-color: $color-border-active;
}

input[type='checkbox']:hover {
  cursor: pointer;
}
