// Colors
$color-accent: #2196f3;

$color-body: #f3f7fa;
$color-bg-main: #ffffff;
$color-bg-active: $color-accent;
$color-bg-nonactive: #9abbce;
$color-bg-hover: #f1fcff;

$color-font-main: #4a4a4a;
$color-font-light: #a0b0b9;
$color-font-active: #ffffff;
$color-font-btn: #ffffff;
$color-font-accent: $color-accent;

$color-border-main: #dfe5ec;
$color-border-active: $color-accent;
$color-border-nonactive: #9abbce;

//Fonts
$font-family: 'Open Sans', sans-serif;

$font-size-main: 14px;
$font-size-small: 12px;
$font-size-filter: 13px;
$font-size-large: 24px;

$font-weight-main: 400;
$font-weight-bold: 600;

//Text
$text-upper: uppercase;

//Border
$border-radius-size: 5px;

//Shadow
$shadow: 0px 2px 8px 0px #0000001a;
